.tableDiv {
    height: 40vh;
    overflow: auto;
}
.tableFlag{
    width: 75%;
    height: 25px;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #e8f7ff !important;
}
.tableHeader th{
    color: #5b6169;
}